@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}
body {
  font-family: "Itim", cursive;
  background-color: #0a0a0afa;
  color: white;
}

.home {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
}

.left-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #1c1c1c;
  flex-direction: column;
  width: 250px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.left-section h1 {
  font-weight: 300;
}

.button {
  background-color: #2f2f2f;
  padding: 18px 42px;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  /* font-family: "Itim", cursive; */
  letter-spacing: 1px;
  cursor: pointer;
}
